@import helper.form, helper.CSRF
@()

@main(title = "Construmarket | ASR-4") {
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Solicitar Cotización</h1>
                    @form(routes.QuoteController.sendQuote) {
                        @CSRF.formField
                        <p>Ingrese el correo electrónico al que desea enviar la cotización</p>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input name="email" type="email" class="form-control" id="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Solicitar cotización</button>
                    }
                </div>
            </div>
        </div>
    </section>
}
